$total-columns  : 12
$column-width   : 4em
$gutter-width   : 1em
$grid-padding   : $gutter-width

#page
  +container
  color: $text-color

#brand
  clear: both
  &> .logo
    +span-columns(3,12)
  &> .slogan
    +span-columns(7 omega,12)
    text-align: right

#intro
  +span-columns(6,12)

#progress
  +span-columns(5 omega,12)
