#brand
  %h1.logo 1up
  %span.slogan One Year.&nbsp;&nbsp;One Goal.
#intro
  %section.topic
    %h3 The Goal
    %p
      %iframe{width:"560", height:"315",
        src:"http://www.youtube.com/embed/QZDJi-T_hlI",
        frameborder:"0", allowfullscreen:"true"}
    %p
      My goal is to become a world-class web developer in one
      year and to share my progress and discoveries along the
      way.
    %p
      I feel that the difference between competence and greatness
      is purpose, focus, and vulnerability. From August 2012
      through August 2013 I plan to apply myself &mdash; publicly
      &mdash; to documenting this journey.
    %p
      Teaching is true learning. To cement my knowledge and
      increase my urgency I plan to organize what I learn and
      give talks at user groups and conferences. Getting feedback
      will be important both to break out of habits and to improve
      my communication.

    %h3 The Plan
    %p
      Every two weeks I will begin a new subject and choose a
      concrete project to practice it. As I complete the projects
      I will present them in talks and blog posts. This provides
      an opportunity to evaluate the result.
    %p
      I am free Fridays all day to work with other developers and
      learn from them. I would especially love to spend the day
      at other software development shops to absorb their
      perspectives and share my knowledge.

    %h3 The Movement
    %p
      What started as my own method for self improvement is becoming
      a movement.  Start your own 1up challenge and get serious
      about your dreams.

      %table.uppers
        %caption Other Uppers
        %thead
          %tr
            %th Name
            %th Goal
        %tbody
          %tr
            %td
              %a{href:'https://twitter.com/haiqus'}Jared Davis
            %td
              %a{href:'http://www.haiqus.com/2012/11/04/my-1up-project/'}Advanced Development Tools
          %tr
            %td
              %a{href:'https://twitter.com/doodlehaus'}Mark Anderson
            %td
              %a{href:'http://www.doodlehaus.com/1up-project'}Web Development
          %tr
            %td
              %a{href:'https://twitter.com/Matt_Wheel'}Matthew Wheeler
            %td
              %a{href:'http://www.analyticdrive.com/?p=14'}Consumption to Creation
          %tr
            %td
              %a{href:'https://twitter.com/ashedryden'}Ashe Dryden
            %td
              %a{href:'http://ashedryden.com/1up'}Web Development
          %tr
            %td
              %a{href:'https://twitter.com/squareleaf'}Tiffany Green
            %td
              Front-end Development

    %h3 About Me
    %p
      My name is Joe Nelson and I live in Madison, Wisconsin. I
      work at <a href="http://bendyworks.com">Bendyworks</a>, a
      software consultancy which builds high-quality web and
      mobile projects. You can learn more <a
      href="http://begriffs.com">about me</a>.
    %p
      %ul
        %li
          %i.icon-envelope
          %a{href:"mailto:joe+1up@begriffs.com"}joe+1up@begriffs.com
        %li
          %i.icon-twitter-sign
          %a{href:"https://twitter.com/begriffs"}@begriffs

    %h3 About You
    %p
      If you are passionate about these topics then let's talk.

#progress
  %aside.todo.current
    %h3 Currently Practicing
    %ul
      %li
        %h4 Amazon Web Services
        %time{datetime:"12-22-12/1-4-13"}
          12/22/12 &ndash; 1/4/13
        %ul.todo-articles
          %li
            %i.icon-beaker
            %a{href: "https://github.com/begriffs/aws_pipes"}
              begriffs / aws_pipes
  %aside.todo
    %h3 Completed
    %ul
      %li
        %h4 JavaScript Debugging
        %time{datetime:"12-3-12/12-14-12"}
          12/03/12 &ndash; 12/14/12
        %ul.todo-articles
          %li
            %i.icon-bullhorn
            Spoke at MadJS
      %li
        %h4 Code Quality
        %time{datetime:"11-3-12/12-2-12"}
          11/03/12 &ndash; 12/02/12
        %ul.todo-articles
          %li
            %i.icon-pencil
            %a{href: "http://blog.begriffs.com/2012/11/put-quality-on-autopilot.html"}
              Put Quality on Autopilot
          %li
            %i.icon-beaker
            %a{href: "https://github.com/bendyworks/lock_block"}
              bendyworks / lock_block
          %li
            %i.icon-beaker
            %a{href: "https://github.com/begriffs/css-ratiocinator"}
              begriffs / css-ratiocinator
      %li
        %h4 Retrospective
        %time{datetime:"10-26-12"}
          10/26/12
        %ul.todo-articles
          %li
            %i.icon-pencil
            %a{href: "http://blog.begriffs.com/2012/10/three-month-1up-retrospective.html"}
              Three-Month Retro
      %li
        %h4 Performance Tuning
        %time{datetime:"9-30-12/10-14-12"}
          9/30/12 &ndash; 10/14/12
      %li
        %h4 Modern Hosting
        %time{datetime:"9-16-12/9-29-12"}
          9/16/12 &ndash; 9/29/12
      %li
        %h4 Advanced Vim
        %time{datetime:"8-26-12/9-15-12"}
          8/26/12 &ndash; 9/15/12
        %ul.todo-articles
          %li
            %i.icon-pencil
            %a{href: "http://blog.begriffs.com/2012/09/bespoke-vim.html"}
              Bespoke Vim
          %li
            %i.icon-beaker
            %a{href: "https://github.com/begriffs/dotfiles"}
              begriffs / dotfiles
      %li
        %h4 Advanced Git
        %time{datetime:"8-13-12/8-25-12"}
          8/13/12 &ndash; 8/25/12
        %ul.todo-articles
          %li
            %i.icon-pencil
            %a{href: "http://blog.begriffs.com/2012/08/gits-history-and-design-decisions.html"}
              Git's History and Design Decisions
          %li
            %i.icon-pencil
            %a{href: "http://blog.begriffs.com/2012/08/version-control-for-poetic-time.html"}
              Version Control for Poetic Time Travelers
      %li
        %h4 ORMs
        %time{datetime:"7-28-12/8-11-12"}
          7/28/12 &ndash; 8/11/12
        %ul.todo-articles
          %li
            %i.icon-pencil
            %a{href: "http://blog.begriffs.com/2012/08/faster-safer-activerecord.html"}
              Faster, Safer ActiveRecord
          %li
            %i.icon-beaker
            %a{href: "https://github.com/begriffs/orm-wars"}
              begriffs / orm-wars
          %li
            %i.icon-beaker
            %a{href: "https://github.com/begriffs/sinatra-sql"}
              begriffs / sinatra-sql
      %li
        %h4 CSS / SASS
        %time{datetime:"7-11-12/7-27-12"}
          7/11/12 &ndash; 7/27/12
        %ul.todo-articles
          %li
            %i.icon-pencil
            %a{href: "http://blog.begriffs.com/2012/07/dont-play-css-tetris.html"}
              Don't Play CSS Tetris
          %li
            %i.icon-pencil
            %a{href: "http://blog.begriffs.com/2012/07/styleguide-souffle.html"}
              Styleguide soufflé
          %li
            %i.icon-pencil
            %a{href: "http://blog.begriffs.com/2012/07/the-hidden-life-of-stylesheet.html"}
              The Hidden Life of Stylesheet Preprocessing
          %li
            %i.icon-beaker
            %a{href: "https://github.com/begriffs/styleguide_rails"}
              begriffs / styleguide_rails
          %li
            %i.icon-bullhorn
            Spoke at MadRailers
  %aside.todo
    %h3 Future Topics
    %ul
      %li
        %h4 Analytics
      %li
        %h4 Config Management
      %li
        %h4 Document DBs
      %li
        %h4 Event-driven Server
      %li
        %h4 Federated Login
      %li
        %h4 GIMP
      %li
        %h4 HTML5 Canvas
      %li
        %h4 Hypermedia APIs
      %li
        %h4 MVC
      %li
        %h4 PPC advertising
      %li
        %h4 Performance Monitoring
      %li
        %h4 REST
      %li
        %h4 Refactoring
