#page
  #brand
    %h1.logo 1up
    %span.slogan One Year.&nbsp;&nbsp;One Goal.
  #intro
    %section.topic
      %h3 The Goal
      %p
        My goal is to become a world-class web developer in one
        year and to share my progress and discoveries along the
        way.
      %p
        I feel that the difference between competence and greatness
        is purpose, focus, and vulnerability. From August 2012
        through August 2013 I plan to apply myself &mdash; publicly
        &mdash; to documenting this journey.
      %p
        Teaching is true learning. To cement my knowledge and
        increase my urgency I plan to organize what I learn and
        give talks at user groups and conferences. Getting feedback
        will be important both to break out of habits and to improve
        my communication.
      %h3 The Plan
      %p
        Every two weeks I will begin a new subject and choose a
        concrete project to practice it. As I complete the projects
        I will present them in talks and blog posts. This provides
        an opportunity to evaluate the result.
      %p
        I am free Fridays all day to work with other developers and
        learn from them. I would especially love to spend the day
        at other software development shops to absorb their
        perspectives and share my knowledge.
      %h3 About Me
      %p
        My name is Joe Nelson and I live in Madison, Wisconsin. I
        work at Bendyworks, a software consultancy which builds
        high-quality web and mobile projects. You can learn more
        about me.
  #progress
    %aside.todo.current
      %h3 Currently Practicing
      %ul
        %li
          %h4 CSS / SASS
          %time{datetime:"7-11-12/7-27-12"}
            7/11/12 &ndash; 7/27/12
          %ul.todo-articles
            %li
              %a{href: "http://blog.begriffs.com/2012/07/dont-play-css-tetris.html"}
                Don't Play CSS Tetris
            %li
              %a{href: "http://blog.begriffs.com/2012/07/styleguide-souffle.html"}
                Styleguide soufflé
    %aside.todo
      %h3 Future Topics
      %ul
        %li
          %h4 Advanced Git
        %li
          %h4 Advanced Vim
        %li
          %h4 Analytics
        %li
          %h4 Code Complete
        %li
          %h4 Config Management
        %li
          %h4 Document DBs
        %li
          %h4 Facebook API
        %li
          %h4 GIMP
        %li
          %h4 HTML5 Canvas
        %li
          %h4 Hypermedia APIs
        %li
          %h4 Javascript
        %li
          %h4 MVC
        %li
          %h4 Modern hosting
        %li
          %h4 Node.js
        %li
          %h4 OAuth
        %li
          %h4 ORMs
        %li
          %h4 PPC advertising
        %li
          %h4 Performance Monitoring
        %li
          %h4 REST
        %li
          %h4 Refactoring
