<% styleguide_block '1.1' do %>
  <section class="topic">
    <h3>I am a topic</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
      risus odio, mattis at auctor sit amet, consectetur sed metus.
      Sed vel erat nisl, et ullamcorper sem. Nam nec urna nisl, ac
      rhoncus elit. Mauris mattis lacus at diam ullamcorper hendrerit.
    </p>
    <p>
      Donec leo justo, molestie ut sodales eu, dictum in ligula.
      Nam volutpat commodo quam ac tristique. Nulla facilisi. In
      metus enim, ullamcorper molestie euismod eget, fermentum eget
      ligula.
    </p>
  </section>
<% end %>
