<% styleguide_block '1.1' do %>
  <section class="topic">
    <h3>I am a topic</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
      risus odio, mattis at auctor sit amet, consectetur sed metus.
      Sed vel erat nisl, et ullamcorper sem. Nam nec urna nisl, ac
      rhoncus elit. Mauris mattis lacus at diam ullamcorper hendrerit.
    </p>
    <p>
      Donec leo justo, molestie ut sodales eu, dictum in ligula.
      Nam volutpat commodo quam ac tristique. Nulla facilisi. In
      metus enim, ullamcorper molestie euismod eget, fermentum eget
      ligula.
    </p>
  </section>
<% end %>
<% styleguide_block '1.2' do %>
  <aside class="todo $modifier_class">
    <h3>Todo items</h3>
    <ul>
      <li>
        <h4>CSS bla bla bla</h4>
        <time datetime="7-11-12/7-27-12">7/11/12 &ndash; 7/27/12</time>
        <ul class="todo-articles">
          <li><a href="#">Donec leo justo, molestie ut sodales eu, dictum in ligula.</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
        </ul>
      </li>
      <li>
        <h4>CSS bla bla bla</h4>
        <time datetime="7-11-12/7-27-12">7/11/12 &ndash; 7/27/12</time>
        <ul class="todo-articles">
          <li><a href="#">Donec leo justo, molestie ut sodales eu, dictum in ligula.</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
        </ul>
      </li>
      <li>
        <h4>CSS bla bla bla</h4>
        <time>TBD</time>
      </li>
      <li>
        <h4>CSS bla bla bla</h4>
        <time>TBD</time>
      </li>
    </ul>
  </aside>
<% end %>
<% styleguide_block '2.1' do %>
  <h1 class="logo">1up</h1>
<% end %>
<% styleguide_block '2.2' do %>
  <span class="slogan">One Year.&nbsp;&nbsp;One Goal.</span>
<% end %>
