html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#page {
  *zoom: 1;
  max-width: 59em;
  _width: 59em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  color: #333333;
}
#page:after {
  content: "";
  display: table;
  clear: both;
}

#brand {
  clear: both;
  width: 100%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
#brand > .logo {
  width: 15.254%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}
#brand > .slogan {
  width: 57.627%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
  text-align: right;
}

#intro {
  width: 49.153%;
  float: left;
  margin-right: 1.695%;
  display: inline;
}

#progress {
  width: 40.678%;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
  display: inline;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

@font-face {
  font-family: "Press Start 2P";
  src: url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v1/8Lg6LX8-ntOHUQnvQ0E7o2jf3WypfQQP02nP_ZmoBRo.woff) format('woff');
}

@font-face {
  font-family: "FontAwesome";
  src: url(/stylesheets/fonts/fontawesome/fontawesome-webfont.eot);
  src: url(/stylesheets/fonts/fontawesome/fontawesome-webfont.eot?#iefix) format('eot'), url(/stylesheets/fonts/fontawesome/fontawesome-webfont.woff) format('woff'), url(/stylesheets/fonts/fontawesome/fontawesome-webfont.ttf) format('truetype'), url(/stylesheets/fonts/fontawesome/fontawesome-webfont.svg#FontAwesomeRegular) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

.icon-twitter-sign:before {
  content: "\f081";
}

.icon-envelope:before {
  content: "\f003";
}

.icon-beaker:before {
  content: "\f0c3";
}

.icon-pencil:before {
  content: "\f040";
}

@media (max-width: 40em) {
  #brand > .logo {
    font-size: 1.5em;
    line-height: 2em;
    height: 40px;
    background-size: 40px 40px;
    padding-left: 50px;
  }
  #brand > .slogan {
    font-size: 1.5em;
    line-height: 2em;
  }
}
@media (max-width: 20em) {
  #intro, #progress, #brand {
    width: 100%;
    float: left;
    margin-right: 3.448%;
    display: inline;
  }

  #brand > .slogan {
    display: none;
  }
}
a {
  color: #40ce00;
}

.topic > h3 {
  color: #1e5d00;
  border-color: #333333;
  font-size: 1.5em;
  line-height: 2em;
}
.topic > p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

aside.todo {
  border-style: solid;
  border-width: 0.063em;
  padding: 1.438em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  border-radius: 1em;
  margin-bottom: 1.5em;
}
aside.todo.current {
  background-color: #eeeeee;
}
aside.todo > h3 {
  color: #1e5d00;
  border-color: #333333;
  font-size: 1.5em;
  line-height: 2em;
}
aside.todo h4 {
  margin-top: 1.5em;
  font-weight: bold;
}
aside.todo time {
  font-style: italic;
}
aside.todo > ul {
  padding-left: 1em;
}
aside.todo > ul > li {
  padding-left: 1em;
  text-indent: -1em;
}

.logo {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 80px;
  padding-left: 100px;
  background: url(/images/logo.png) no-repeat;
  font-family: "Press Start 2P";
  min-height: 80px;
  display: inline-block;
}

.slogan {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  line-height: 80px;
}

.uppers th {
  text-align: center;
  font-weight: bold;
}
.uppers td,
.uppers th {
  padding: 2px;
}
.uppers td.numeric,
.uppers th.numeric {
  text-align: right;
}
.uppers th, .uppers td {
  text-align: left;
  padding-right: 1em;
}
.uppers > caption {
  margin-bottom: 1.5em;
  border-bottom-style: solid;
  border-bottom-width: 0.063em;
  padding-bottom: 1.438em;
}
