// Logo and text
//
// Styleguide 2.1
.logo
  @include adjust-font-size-to(40px)
  line-height: 80px
  padding-left: 100px
  background: url(/images/logo.png) no-repeat
  font-family: "Press Start 2P"
  min-height: 80px

// Branding slogan
//
// Styleguide 2.2
.slogan
  @include adjust-font-size-to(40px)
  line-height: 80px
