// Todo list
//
// .current - Used when the todo items are actively in progress
// Styleguide 1.2
aside.todo
  +rhythm-borders
  +border-radius(1em)
  +trailer
  &.current
    background-color: $callout-background-color
  &> h3
    color: $primary-color
    border-color: $text-color
    +adjust-font-size-to(24px)
  h4
    +leader
    font-weight: bold
  time
    font-style: italic
